.service {
    background-color: white;
}

.service a {
    display: inline-block;
    width: 4rem;
    height: 3rem;
}

.service .wrap {
    font-size: 0;
    padding: 0.6rem 0 0.2rem;
}

.service a i {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-item-helper i {
    background-image: url(http://i1.dd-img.com/assets/image/1482376645-ceff8bc61bc7a9bb-68w-68h.png);
    background-color: #7d83d6;
}

.service-item-product i {
    background-image: url(http://i1.dd-img.com/assets/image/1482376645-1a5f3f9ceabf1d07-68w-68h.png);
    background-color: #14d7a7;
}

.service-item-test i {
    background-image: url(http://i1.dd-img.com/assets/image/1482376645-65d2faabe50a8bfc-68w-68h.png);
    background-color: #00a0e9;
}

.service-item-mall i {
    background-image: url(http://i1.dd-img.com/assets/image/1482376646-becb833647ecdc4b-68w-68h.png);
    background-color: #d52244;
}

.service em {
    display: block;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    color: #343d40;
    font-size: 0.5rem;
    font-style: normal;
}
