<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="/m.diandong.com/source/css/common.css">
    <script src="/m.diandong.com/source/js/rem.js"></script>
</head>

<body>

    <div id="app-overlay"></div>

    <script src="appOverlayStatic.debug.js"></script>

</body>

</html>
