<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="/m.diandong.com/source/css/common.css">
    <link rel="stylesheet" href="guide.css">
    <script src="/m.diandong.com/source/temp.js"></script>
</head>

<body>

    <div id="application">

        <div id="guide-holder" class="guide-holder">

            <div id="guide" class="guide">
                <div class="wrap">
                    <header class="guide-header">
                        <h3>选</h3>
                    </header>
                    <div class="guide-content">

                        <div id="guide-tools" class="guide-tools">
                            <a href="" class="guide-tool-count">
                                <i></i>
                                <em>购车计算</em>
                            </a>
                            <a href="" class="guide-tool-subsidy">
                                <i></i>
                                <em>补贴查询</em>
                            </a>
                            <a href="" class="guide-tool-pk">
                                <i></i>
                                <em>车型对比</em>
                            </a>
                            <a href="" class="guide-tool-price">
                                <i></i>
                                <em>免费询价</em>
                            </a>
                        </div>

                        <!-- 热门品牌 -->
                        <div id="guide-brand" class="guide-brand">
                            <header class="guide-sub-header">
                                <h4>热门品牌</h4>
                            </header>
                            <div class="guide-brand-list clearfix">
                                <a href=""><img src="">
                                    <!-- 96 * 96 -->
                                </a>
                                <a href=""><img src=""></a>
                                <a href=""><img src=""></a>
                                <a href=""><img src=""></a>
                                <a href=""><img src=""></a>
                                <a href=""><img src=""></a>
                                <a href=""><img src=""></a>
                                <a href=""><img src=""></a>
                            </div>
                        </div>

                        <!-- 条件选车 -->
                        <div id="guide-filter" class="guide-filter">
                            <header class="guide-sub-header">
                                <h4>条件选车</h4>
                                <a href="" class="guide-more-button">more ></a>
                            </header>
                            <div class="filter-box">
                                <nav class="filter-super-tab">
                                    <a href="javascript:;" class="current">
                                        <i class="icon">&#xe60c;</i>
                                        <span>价格</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="icon">&#xe60c;</i>
                                        <span>续航</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="icon">&#xe60c;</i>
                                        <span>类型</span>
                                    </a>
                                </nav>

                                <div class="filter-super-tabcon">
                                    <nav class="filter-sub-tab">
                                        <div class="sub-tab-holder">
                                            <a href="javascript:;" class="current">10万以下</a>
                                            <a href="javascript:;">10-20万</a>
                                            <a href="javascript:;">20-30万</a>
                                            <a href="javascript:;">30万以上</a>
                                        </div>
                                    </nav>

                                    <div class="filter-sub-tabcon">
                                        <div class="filter-model-list">
                                            <a href="" class="filter-model-item">
                                                <img src="">
                                                <!-- 180 * 120 -->
                                                <p class="filter-model-title">比亚迪 e6</p>
                                                <p class="filter-model-price">￥12.89-23.3万</p>
                                            </a>
                                            <a href="" class="filter-model-item">
                                                <img src="">
                                                <p class="filter-model-title">比亚迪 e6</p>
                                                <p class="filter-model-price">￥12.89-23.3万</p>
                                            </a>
                                            <a href="" class="filter-model-item">
                                                <img src="">
                                                <p class="filter-model-title">比亚迪 e6</p>
                                                <p class="filter-model-price">￥12.89-23.3万</p>
                                            </a>
                                            <a href="" class="filter-model-item">
                                                <img src="">
                                                <p class="filter-model-title">比亚迪 e6</p>
                                                <p class="filter-model-price">￥12.89-23.3万</p>
                                            </a>
                                            <a href="" class="filter-model-item">
                                                <img src="">
                                                <p class="filter-model-title">比亚迪 e6</p>
                                                <p class="filter-model-price">￥12.89-23.3万</p>
                                            </a>
                                            <a href="" class="filter-model-item">
                                                <img src="">
                                                <p class="filter-model-title">比亚迪 e6</p>
                                                <p class="filter-model-price">￥12.89-23.3万</p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="filter-sub-tabcon fn-hide"></div>
                                    <div class="filter-sub-tabcon fn-hide"></div>
                                    <div class="filter-sub-tabcon fn-hide"></div>
                                </div>
                                <div class="filter-super-tabcon fn-hide"></div>
                                <div class="filter-super-tabcon fn-hide"></div>
                            </div>
                        </div>

                        <!-- 车型评测 -->
                        <div id="guide-test" class="guide-test">
                            <header class="guide-sub-header">
                                <h4>车型评测</h4>
                                <a href="" class="guide-more-button">more ></a>
                            </header>
                            <div class="guide-test-content">
                                <div class="guide-news-photo">
                                    <a href="">
                                        <img src="http://i2.dd-img.com/upload/2016/1221/1482332237971.jpg">
                                        <!-- 588 * 284 -->
                                        <div class="guide-news-cover">
                                            <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                            <div class="guide-news-type"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="guide-news-list">
                                    <ul>
                                        <li>
                                            <a href="" class="guide-news-ico">单车评测</a>
                                            <a href="" class="guide-news-text">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                        </li>
                                        <li>
                                            <a href="" class="guide-news-ico">单车评测</a>
                                            <a href="" class="guide-news-text">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                        </li>
                                        <li>
                                            <a href="" class="guide-news-ico">单车评测</a>
                                            <a href="" class="guide-news-text">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                        </li>
                                        <li>
                                            <a href="" class="guide-news-ico">单车评测</a>
                                            <a href="" class="guide-news-text">韩国双龙推Tivolis电动版 推行旗下车型电动化</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- 视频评测 -->
                        <div id="guide-video" class="guide-video">
                            <header class="guide-sub-header">
                                <h4>视频评测</h4>
                                <a href="" class="guide-more-button">more ></a>
                            </header>
                            <div class="guide-video-content">
                                <div class="guide-video-list">
                                    <a href="" class="guide-video-item">
                                        <img src="http://i2.dd-img.com/upload/2016/0902/1472786215336.jpg">
                                        <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                        <div class="guide-news-type"></div>
                                    </a>
                                    <a href="" class="guide-video-item">
                                        <img src="">
                                        <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                        <div class="guide-news-type"></div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- 车型导购 -->
                        <div id="guide-model" class="guide-model">
                            <header class="guide-sub-header">
                                <h4>车型导购</h4>
                                <a href="" class="guide-more-button">more ></a>
                            </header>
                            <div class="guide-model-content">
                                <div class="guide-model-list">
                                    <a href="" class="guide-model-item">
                                        <img src="">
                                        <!-- 460 * 232 -->
                                        <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                        <div class="guide-news-type"></div>
                                    </a>
                                    <a href="" class="guide-model-item">
                                        <img src="">
                                        <div class="guide-news-title">韩国双龙推Tivolis电动版 推行旗</div>
                                        <div class="guide-news-type"></div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <script src="guide.debug.js"></script>

</body>

</html>
