<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="/m.diandong.com/source/css/common.css">
    <link rel="stylesheet" href="focus.css">
    <script src="/m.diandong.com/source/temp.js"></script>
</head>

<body>

    <div id="application">

        <div id="focus-holder" class="focus-holder">
            <div id="focus" class="focus">
                <div class="wrap">
                    <div class="focus-container">
                        <div class="focus-wrapper">
                            <div class="focus-slide">
                                <a href=""><img src=""></a>
                            </div>
                            <div class="focus-slide">
                                <a href=""><img src=""></a>
                            </div>
                            <div class="focus-slide">
                                <a href=""><img src=""></a>
                            </div>
                        </div>

                    </div>
                    <div class="focus-pages"></div>
                </div>
            </div>
        </div>

    </div>


    <script src="focus.debug.js"></script>

</body>

</html>
