<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="/m.diandong.com/source/css/common.css">
    <link rel="stylesheet" href="news.css">
    <script src="/m.diandong.com/source/temp.js"></script>
</head>

<body style="background-color: #f7f7f7;">

    <div id="application">

        <div id="news-holder" class="news-holder">
            <div id="news" class="news">
                <div class="wrap">
                    <header class="news-header">
                        <h3>看</h3>
                    </header>
                    <nav class="news-nav">
                        <a href="javascript:;" class="current">全部</a>
                        <a href="javascript:;">新车</a>
                        <a href="javascript:;">技术</a>
                        <a href="javascript:;">行业</a>
                        <a href="javascript:;">政策</a>
                    </nav>
                    <div class="news-content">
                        <div class="news-tab-content">
                            <div class="news-item" href="">
                                <a href="">
                                    <div class="news-item-pic fn-left">
                                        <img src="">
                                        <!-- 198 * 132 -->
                                        <span class="news-type-tag">新车</span>
                                    </div>
                                    <div class="news-item-text fn-right">
                                        <div class="news-item-title">宝马x5紧凑级SUV 助推混动版明年上市</div>
                                        <div class="news-item-info">
                                            <span class="news-item-time fn-left">2016/12/23 9:00</span>
                                            <span class="news-item-tags fn-right">自动驾驶 | 特斯拉</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="news-item" href="">
                                <a href="">
                                    <div class="news-item-pic fn-left">
                                        <img src="">
                                        <!-- 198 * 132 -->
                                        <span class="news-type-tag">新车</span>
                                    </div>
                                    <div class="news-item-text fn-right">
                                        <div class="news-item-title">宝马x5紧凑级SUV 助推混动版明年上市</div>
                                        <div class="news-item-info">
                                            <span class="news-item-time fn-left">2016/12/23 9:00</span>
                                            <span class="news-item-tags fn-right">自动驾驶 | 特斯拉</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="news-item-focus news-type-new" href="">
                                <a href="">
                                    <img src="http://i2.dd-img.com/upload/2016/1216/1481866838465.jpg">
                                    <!-- 588 * 308 -->
                                    <div class="news-focus-cover">
                                        <div class="news-focus-title">韩国双龙推Tivolis电动版 推行旗下车型</div>
                                        <div class="news-focus-type"><i></i><em>新车</em></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="news-tab-content fn-hide"></div>
                        <div class="news-tab-content fn-hide"></div>
                        <div class="news-tab-content fn-hide"></div>
                        <div class="news-tab-content fn-hide"></div>
                    </div>
                    <a href="" class="more-news-button">查看更多资讯</a>
                </div>
            </div>
        </div>

    </div>


    <script src="news.debug.js"></script>

</body>

</html>
