body {
    background-color: #f7f7f7;
}

.news-holder {
    margin-top: 0.5rem;
}

.guide-holder {
    margin-top: 0.5rem;
}

.mall-holder {
    margin-top: 0.5rem;
}

.social-holder {
    margin-top: 0.5rem;
}
