<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="/m.diandong.com/source/css/common.css">
    <link rel="stylesheet" href="mall.css">
    <script src="/m.diandong.com/source/temp.js"></script>
</head>

<body>

    <div id="application">

        <div id="mall-holder" class="mall-holder">
            <div id="mall" class="mall">
                <div class="wrap">
                    <header class="mall-header">
                        <h3>买</h3>
                    </header>

                    <div class="mall-content">

                        <!-- 滚动订单 -->
                        <div class="mall-swiper">
                            <i class="icon">&#xe63f;</i>
                            <div class="mall-container">
                                <div class="mall-wrapper">
                                    <div class="mall-slide">某莫某成功预订 腾势时尚型</div>
                                    <div class="mall-slide">某莫某成功预订 腾势时尚型</div>
                                    <div class="mall-slide">某莫某成功预订 腾势时尚型</div>
                                </div>
                            </div>
                        </div>

                        <!-- 轮播大图 -->
                        <div class="event-swiper">
                            <div class="event-container">
                                <div class="event-wrapper">
                                    <div class="event-slide">
                                        <div class="event-item">
                                            <a href=""><img src=""></a>
                                            <div class="event-item-countdown" data-endtime="">距结束<span></span>天<span></span>时<span></span>分<span></span>秒</div>
                                        </div>
                                    </div>
                                    <div class="event-slide"></div>
                                    <div class="event-slide"></div>
                                </div>
                            </div>
                            <div class="event-pages"></div>
                        </div>


                        <!-- -->
                        <div class="mall-list">
                            <div class="mall-item mall-item-special">
                                <header class="mall-item-header"><i>特惠</i></header>
                                <div class="mall-item-countdown" data-endtime="">距结束<span></span>天<span></span>时<span></span>分<span></span>秒</div>
                                <div class="mall-item-pic">
                                    <a href=""><img src=""></a>
                                </div>
                                <div class="mall-item-info">
                                    <a href="">比亚迪e6</a>
                                    <span>￥23.23万</span>
                                </div>
                                <div class="mall-item-intro">综合优惠22222元，支持零首付购车，送三年保险</div>
                            </div>

                            <div class="mall-item mall-item-group">
                                <header class="mall-item-header"><i>团购</i></header>
                                <div class="mall-item-countdown" data-endtime="">距结束<span></span>天<span></span>时<span></span>分<span></span>秒</div>
                                <div class="mall-item-pic">
                                    <a href=""><img src=""></a>
                                </div>
                                <div class="mall-item-info">
                                    <a href="">比亚迪e6</a>
                                    <span>￥23.23万</span>
                                </div>
                                <div class="mall-item-intro">综合优惠22222元，支持零首付购车，送三年保险</div>
                            </div>
                        </div>

                        <!-- 本地新闻 -->
                        <div class="mall-local">
                            <header class="mall-local-header">
                                <h4><span>北京</span>新能源购车</h4>
                                <div id="mall-local-city" class="mall-local-city"></div>
                            </header>
                            <div class="mall-local-content">
                                <div class="mall-local-item mall-local-beijing fn-hide">
                                    <div class="local-item-pic">
                                        <a href="">
                                            <img src="">
                                            <p>那些系能源汽车过得如何？</p>
                                        </a>
                                    </div>
                                    <div class="local-item-news">
                                        <ul>
                                            <li>
                                                <span>团购</span>
                                                <a href="">将渠道刘希成为旗舰机跑车</a>
                                            </li>
                                            <li>
                                                <span>推荐</span>
                                                <a href="">将渠道刘希成为旗舰机跑车将渠道刘希成为旗舰机跑车</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mall-local-item mall-local-guangzhou fn-hide"></div>
                                <div class="mall-local-item mall-local-shenzhen fn-hide"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <script src="mall.debug.js"></script>

</body>

</html>
