<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <title>Social</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="/m.diandong.com/source/css/common.css">
    <script src="/m.diandong.com/source/js/rem.js"></script>
</head>

<body>

    <div id="application">

        <div id="social-holder" class="social-holder">
            <div id="social" class="social">
                <div class="wrap">
                    <header class="social-header">
                        <h3>用</h3>
                    </header>

                    <div class="social-content">

                        <div class="social-list-holder">
                            <div class="social-list">
                                <a href="" class="social-item">
                                    <img src="">
                                    <p>宝马x5紧凑级SUV 助推混动办明年上市</p>
                                </a>
                                <a href="" class="social-item">
                                    <img src="">
                                    <p>宝马x5紧凑级SUV 助推混动办明年上市</p>
                                </a>
                            </div>
                        </div>

                        <!-- 邦友活动 -->
                        <div class="social-friend">
                            <header class="social-sub-header">
                                <h4>邦友活动</h4>
                            </header>

                            <div class="friend-list-holder">
                                <div class="friend-list">
                                    <div class="friend-item">
                                        <a href="" class="friend-item-pic"><img src="">
                                            <!-- 456 * 232 -->
                                        </a>
                                        <a href="" class="friend-item-logo"><img src="">
                                            <!-- 108 * 108 -->
                                        </a>
                                    </div>
                                    <div class="friend-item">
                                        <a href="" class="friend-item-pic"><img src=""></a>
                                        <a href="" class="friend-item-logo"><img src=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 热论推荐 -->
                        <div class="social-bbs">
                            <header class="social-sub-header">
                                <h4>热论推荐</h4>
                            </header>
                            <div class="social-bbs-content">
                                <div class="bbs-list clearfix">
                                    <a href="">腾势论坛</a>
                                    <a href="">腾势论坛</a>
                                    <a href="">腾势论坛</a>
                                    <a href="">腾势论坛</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


    <script src="social.debug.js"></script>

</body>

</html>
